body {
    background-color: black;
}

.ui-accordion-content  {
    background-color: black !important;
    color: #00ff31 !important;
}
.ui-state-active    {
    font-family: 'Adventure_Request';
    background-color: black !important;
    color: #00ff31 !important;
    border: #00ff31 !important;
}

.ui-state-default {
    border: 1px solid #00ff31 !important;
}

.ui-accordion-header {
    font-family: 'Adventure_Request';
    background-color: black !important;
    color: #00ff31 !important;
}

.ui-widget-content {
    border: 1px solid #00ff31 !important;
}
@font-face {
    font-family: 'Adventure_ReQuest';
    src: url(Adventure_ReQuest.otf);
}